.vs/
dart/.dart_tool/
dart/.packages
dart/sqlite3dart_extension.dll
dart/pubspec.lock
build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
