.vs/
sqlite3dart/.dart_tool/
sqlite3dart/.packages
sqlite3dart/sqlite3dart_extension.dll
sqlite3dart/pubspec.lock
build/
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
