.vs/
sqlite3dart/.idea/
sqlite3dart/.idea/libraries/
sqlite3dart/.dart_tool/
sqlite3dart/.packages
sqlite3dart/example/sqlite3dart_extension.dll
sqlite3dart/pubspec.lock
build/
CMakeFiles/
Debug/
sqlite3dart_extension.dir/
x64/
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
CMakeCache.txt
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
